<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Byngosink Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{static_url("css/main.css")}}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{static_url("css/board.css")}}" />
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="{{static_url("js/lib/reconnecting-websocket-min.js")}}"></script>
        <script src="{{static_url("js/lib/jquery.min.js")}}"></script>
        <script src="{{static_url("js/lib/fittext.js")}}"></script>
        <script src="{{static_url("js/board.js")}}"></script>
        <script src="{{static_url("js/websocket.js")}}"></script>
    </head>
    <body class="fill" style="margin: 0em; position: absolute;">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="bingo-shadow">
                <defs>
                    <radialGradient id="gradient1">
                      <stop offset="0%" stop-color="#000000" />
                      <stop offset="100%" stop-color="#808080" />
                    </radialGradient>
                    <mask id="mask1">
                      <rect x="0" y="0" width="100" height="100" fill="url(#gradient1)" />      
                    </mask>
                </defs>
                <rect x="0" y="0" width="100" height="100" fill="black" mask=" url(#mask1)"/>
            </symbol>
        </svg>
        {% module BoardModule(board=board) %}
    </body>
</html>
